if ParamsGet.Recettes == "All"
  h1: span.fondcraie
    if lang[0]=="en/"
      |Recepices List
    else
      |Liste des Recettes

  div.liste.scroll
    ul.columns2
      each recette in Recettes
        li: a.Recette(href="/"+lang[0]+"?Recettes="+recette.Nom)=recette.Nom

else
  -checkrecette = true
  each recette in Recettes
    if ParamsGet.Recettes == recette.Nom
      -checkrecette=false
      div.grid.scroll
        h1: span.fondcraie=recette.Nom
        div
          div(style="display: flex; margin: 0 2%;")
            img(src="/images/"+recette.Image, alt="No available" width="60%", srcset="")
            .imgside
              ul
                if lang[0]=="en/"
                  |Ingredients:
                else
                  |Ingrédients:
                li.nopuce
                each ingredient in recette.Ingredients
                  if ingredient.Quantity > 1
                    -pluriel="s"
                  else
                    -pluriel=""
                  if ["Cuillère à café","Cuillère à soupe","Feuille","Gousse","Gramme","Litre","Sachet"].includes(ingredient.Mesure)
                    if ["a","e","i","o","u"].includes(ingredient.Nom.charAt(0))||ingredient.Nom=="huile"
                      -de=" d'"
                    else
                      -de=" de "
                    li=ingredient.Quantity+" "+ingredient.Mesure+de+ingredient.Nom+pluriel
                  else
                    li=ingredient.Quantity+" "+ingredient.Nom+pluriel

          p 
            span.soustitre 
              if lang[0]=="en/"
                |Preparation:
              else
                |Préparation:
            br
            br
            each line in recette.Preparation
              =line
              br
              
  if checkrecette
    h3 
      if lang[0]=="en/"
        |Recepice not found
      else
        |Recettes introuvable