form#lignecraie(method='post')
  label(for="SearchInput") Search 
  span#SearchInput: input(name='Search' type='text' placeholder='Disabled' disabled)
  label(for="InSelect")  in 
  +newSelect(['select','Menus','Recettes'])(id="InSelect" name="In")
  label(for="BySelect")  by 
  +newSelect(['select'])(id="BySelect" name="By")
  button: img(src="../images/ico-checkmark.png", alt="")

if ParamsPost.Search
  if ParamsPost.By=='Date'
    -mydate=ParamsPost.Search2.split('-')
    p=mydate
  //ul
    each key in eval(ParamsPost.In)
      if ParamsPost.In == 'Menus'
        li=key.Date[4]
      else
        li=key.Nom
script.
  let In, By;
  const Search = document.getElementById("SearchInput");
  const baseInput = Search.children[0].cloneNode(true);
  In = document.getElementById('InSelect').onchange = function(){
    if(Search.children.length>1) Search.innerHTML="", Search.appendChild(baseInput);
    if (this.value == 'Select'){
      Search.children[0].value = "";
      Search.children[0].setAttributee("disabled", "");
      Search.children[0].attributes["type"].value = "text"
      for(i=By.length-1; i>=0; i-=1){By.remove(i)}
    }
    else if (this.value == 'Menus'){
      for(i=By.length-1; i>=0; i-=1){By.remove(i)}
      let myOptions=['Recettes', 'Date']
      for(i=1; i<=myOptions.length; i++){
        opt=document.createElement("option");
        opt.value = myOptions[i-1];
        opt.text = myOptions[i-1];
        By.add(opt, i)
      }
      Search.children[0].attributes["type"].value = "text", Search.children[0].attributes["Placeholder"].value = "ex: Recette 1, Recette 2", Search.removeAttribute("disabled");
    }
    else if (this.value == 'Recettes'){
      for(i=By.length-1; i>=0; i-=1){By.remove(i)}
      let myOptions=['Nom', 'Ingredients']
      for(i=1; i<=myOptions.length; i++){
        let opt=document.createElement("option");
        opt.value = myOptions[i-1];
        opt.text = myOptions[i-1];
        By.add(opt,i)
      }
      Search.children[0].attributes["type"].value = "text", Search.children[0].attributes["Placeholder"].value = "ex: Ma recette", Search.removeAttribute("disabled");
    }
    else {
      for(i=By.length-1; i>=0; i-=1){By.remove(i)}
      let myOptions=['Select']
      for(i=1; i<=myOptions.length; i++){
        opt=document.createElement("option");
        opt.value = myOptions[i-1];
        opt.text = myOptions[i-1];
        By.add(opt, i)
      }
      Search.children[0].attributes["type"].value = "text";
      Search.children[0].value = "";
      Search.children[0].setAttribute("disabled", "");
      Search.children[0].attributes["Placeholder"].value = "Disabled";
    }
  }
  By = document.getElementById("BySelect")
  By.onchange = function(){
    if (this.value == 'Date') {
      Search.innerHTML="<input name='Search' type='number' Placeholder='Day' min=1 max=31 style='width:10%;'><input name='Search2' value='2010-01'  type='month' style='padding:1px; text-align: left; width: 29%;'>";
      Search.children[1].onchange = function(){ if(this.value=="") this.value='2018-05'; console.log(this.value);}
    }
    else if (this.value == 'Recettes') {
      Search.innerHTML="", Search.appendChild(baseInput);
      Search.children[0].attributes["type"].value = "text";
      Search.children[0].value = "";
      Search.children[0].attributes["Placeholder"].value = "ex: Recette 1, Recette 2";
      Search.children[0].removeAttribute("disabled");
    }
    else if (this.value == 'Ingredients') Search.children[0].attributes["type"].value = "text", Search.children[0].attributes["Placeholder"].value = "ex: Ingredient 1, Ingredient 2", Search.removeAttribute("disabled");
    else if (this.value == 'Nom') Search.children[0].attributes["type"].value = "text", Search.children[0].attributes["Placeholder"].value = "ex: Ma recette", Search.removeAttribute("disabled");
    else {
      Search.children[0].value = "Unknown request";
      Search.children[0].setAttribute("disabled", "")
    }
  }

